/* #FFD700 */
/* #FC453F */




.MealForm .amount {
  display: flex;
  align-items: center;
}


.MealForm .amount form {
  margin-top: 20px;
  margin-bottom: 20px;
}


.MealForm .amount form label {
  font-weight: 700;
  font-size: 20px;
}

.MealForm .amount form Input {
  margin-bottom: 20px;
}



@media (max-width: 768px) {
  .MealForm {
    margin-left: 60px;
  }

}